page-postlogin {

.wrap{
    background-color: #D6CECB;
}
.button1{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin:auto;
    display:block;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px; 
    border-radius: 15px; 
}
.button2{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin:auto;
    display:block;
    margin-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 15px; 
}
.button3{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin:auto;
    display:block;
    margin-top: 25px;
    padding: 30px 55px 30px 55px;
    border-radius: 20px; 
}
.button4{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin:auto;
    display:block;
    margin-top: 25px;
    padding: 30px;
    border-radius: 20px; 
}
.button5{
    border-radius: 0px;
    background-color: #00A30C;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
}
.button6{
    border-radius: 0px;
    background-color: #CD0000;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
}
.button7{
    border-radius: 0px;
    background-color: #1C71E8;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 40px;
}
}
