page-ordermedicine {

.button1{
  background-color: #F5B72E;
  color: black;
  padding: 25px;
  margin-left: 40px;
  margin-top: 40px;
}
.button2{
    border-radius: 0px;
    background-color: #00A30C;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    margin-right: 130px;
}
.button3{
    border-radius: 0px;
   background-color: #1C71E8;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}
}
