page-home {

.button1{
    border-radius: 0px;
    background-color: white;
    color: black;
    margin: 0 auto;
    display: block;
    min-width: 90%;
    margin-top: 40px;
    border: 2px solid black; 
    padding: 25px;
}
.button2{
    border-radius: 0px;
    background-color: white;
    color: black;
    margin: 0 auto;
    display: block;
    min-width: 90%;
    margin-top: 50px;
    border: 2px solid black; 
    margin: 15px;
    padding: 25px;
}
.button3{
    border-radius: 0px;
    background-color: #00A30C;
    padding-left: 30px;
    padding-right: 30px;
    }
.button4{
    border-radius: 0px;
    background-color: #CD0000;
    padding-left: 30px;
    padding-right: 30px;
    } 
} 

