<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

<h4 class="wrapper" align="center">Re Use</h4>

<h5 align="center">Forgot Password</h5>
<p align="center">Enter your Aadhar No<br> Or Email Below to Reset<br>Your Password.</p>

<form class="login-form-wrapper" [formGroup]="sampleForm" (ngSubmit)="submit(sampleForm.value)">

           <ion-item>
                <ion-input type="text" formControlName="aadharoremail"></ion-input>
            </ion-item>
            <div class="error-container" *ngIf="formErrors.email">
                <div *ngFor="let errors of formErrors.email">
                    <p class="alert-danger">{{ errors }}</p>
                </div>
            </div>

<button ion-button round type="submit" class="button1" >Send My Password</button><br>
<button ion-button round type="button" class="button2" align="center" (click)="backpage()">CANCEL</button><br>
<button ion-button round type="button" class="button3" align="center" (click)="previouspage()">LOGIN</button>

</form>

</ion-content>
