page-forgotpassword {

    .wrapper{
        color:#295481;
    }
    .button1{
    border-radius: 0px;
    background-color: #00A30C;
    margin: 0 auto;
    display: block;
    min-width: 90%;
    margin-top: 50px;
    }
    .alert-danger{
        color: #ff0000;
    }   
   .button2{
    border-radius: 0px;
    background-color: #CD0000;
    margin: 0 auto;
    display: block;
    min-width: 60%;
    margin-top: 20px;
    } 
    .button3{
    border-radius: 0px;
    background-color: #2879E5;
    margin: 0 auto;
    display: block;
    min-width: 30%;
    padding: 0px;
    margin-top: 20px;
    } 

}


